.dropbtn {
    background-color: orange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-family: cursive;
    text-transform: uppercase;
}

.dropbtn:hover, .dropbtn:focus{
    background-color: cyan;
    transition-duration: 0.3s;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display:block;
}


.products {
    display: flex;
    justify-content: space-around;
}
.products__item {
    color: gray;
    text-align: center;
    font-family: cursive;
}

.products__title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.products__price {
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
}

.buy-btn {
    height: 40px;
    width: 100px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.buy-btn:hover, .buy-btn:focus {
    background-color: cyan;
    color: black;
    transition-duration: 0.3s;
    outline: none;
}





